{% extends 'layout.html.twig' %}

{% block body %}
    <div class="h-screen bg-gray-50 flex flex-col justify-center items-center">
        <div class="bg-white border border-gray-300 w-80 py-8 flex items-center flex-col mb-3">
            {{ include('user/_form.html.twig') }}
        </div>
        <div class="bg-white border border-gray-300 text-center w-80 py-4">
            <span class="text-sm">Have an account?</span>
            <a class="text-blue-500 text-sm font-semibold">Sign in</a>
        </div>
    </div>

{% endblock %}