{{ form_start(form) }}
    {{ form_widget(form) }}
<button class="btn text-sm text-center bg-blue-300 text-white py-2 px-3 rounded font-medium">{{ button_label|default('Add a post') }}</button>
{{ form_end(form) }}
